@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
@import url(../../node_modules/tailwindcss/dist/base.css);
@import url(../../node_modules/tailwindcss/dist/components.css);
@import url(../../node_modules/tailwindcss/dist/utilities.css);
h1,
h2 {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-weight: 900; }

h2 {
  font-weight: 700; }

.uk-navbar-container,
.uk-offcanvas-bar {
  background-color: #000 !important; }

.uk-navbar-nav > li.uk-active > a {
  color: #fff; }

.full-height {
  height: 88vh; }

.pos_relative {
  position: relative; }

.tt-menu {
  background-color: #fff;
  border: 1px solid #ccdff4; }

.tt-selectable {
  padding: 5px 10px; }
  .tt-selectable:hover, .tt-selectable:active, .tt-selectable:focus {
    background-color: gray;
    color: white;
    cursor: pointer; }

table.dataTable thead th,
table.dataTable thead td,
table.dataTable.no-footer {
  border-bottom: 1px solid #ded8d8 !important; }

#offcanvas-nav li a {
  font-size: 1.4em; }

.uk-table th {
  background-color: #0c0c0c;
  color: white; }

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px; }

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px; }

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s; }

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px; }

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s; }

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px; }

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s; }

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px; }

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s; }

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px; }

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s; }

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px; }

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s; }

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px; }

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s; }

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px; }

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s; }

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px; }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.print_barcode {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.dataTables_wrapper input[type="search"] {
  border: 1px solid;
  padding: 2px 3px;
  margin-bottom: 5px; }

@media print {
  .detalle_compra_print {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }

  h2 {
    color: red;
  }
}

/*# sourceMappingURL=style.css.map */
